body {
    padding: 0;
    margin: 0 auto;
    background-color: white;
}

.wrapper {
    width: 1349px;
}

.header {
    background-image: url("./images/background-header.png");
    background-size: cover;
    height: 615px;
}

.header ul li {
    list-style: none;
}

.header-top {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
}

.signin {
    border: 2px solid #8bc34a;
    border-radius: 20px;
    width: 55px;
    height: 16px;
    color: #8bc34a;
    padding: 7px;
    margin: 24px 0px 0px 20px;
    font: bold 12px Roboto;
    text-align: center;
}

.aboutus {
    font: bold 12px Roboto;
    margin: 34px 0px 0px 894px;
}

.logo {
    background: url("./images/logo-hapoErp-one.png") no-repeat;
    height: 125px;
    margin: 124px 0px 0px 567px;
    background-size: 25%;
}

.icon-of-header {
    display: flex;
    flex-direction: row;
    margin-top: -50px;
}

.icon-of-header .icon-question-first {
    margin-left: 400px;
    font-size: 49px;
}

.icon-of-header .icon-question-second {
    margin-left: 195px;
    font-size: 49px;
}

.icon-of-header .icon-question-third {
    margin-left: 173px;
    font-size: 49px;
}

.header-text-one {
    display: flex;
    flex-direction: row;
}

.better {
    margin: -20px 0px 0px 386px;
    font: 30px Roboto;
}

.faster {
    margin: -20px 0px 0px 145px;
    font: 30px Roboto;
}

.together {
    margin: -20px 0px 0px 110px;
    font: 30px Roboto;
}

.header-text-two {
    font: 15px Roboto;
    margin: 45px 0px 0px 470px;
}

.start-now-header {
    color: white;
    border: solid;
    border-color: #8bc34a;
    box-shadow: 2px 3px 5px #D8D8D8;
    width: 107px;
    height: 29px;
    font: 15px Roboto;
    border-radius: 30px;
    padding: 10px 0px 0px 30px;
    margin: 21px 0px 0px 610px;
    background: #8bc34a linear-gradient(to right, #429321, #b4ec51);
}

.content-one {
    display: flex;
    flex-direction: row;
}

.content-one .interface-one {
    background: url("./images/interface-one.png") no-repeat;
    height: 355px;
    width: 555px;
    margin: 48px 0px 45px 148px;
}

.content-one .text {
    margin: 48px 0px 0px 30px;
}

.content-one .text .text-one {
    font: 40px Roboto;
    margin: 16px 0px 16px 0px;
}

.content-one .text .text-two {
    font: 14px Roboto;
    margin: 0px 0px 20px 5px;
}

.content-one .text .text-three {
    font: 13px Roboto;
    margin-left: 5px;
    line-height: 1.5;
}

.start-now-menu-one {
    color: white;
    border: solid;
    border-color: #8bc34a;
    box-shadow: 2px 3px 5px #D8D8D8;
    width: 107px;
    height: 29px;
    font: 15px Roboto;
    border-radius: 30px;
    padding: 10px 0px 0px 30px;
    margin-left: 5px;
    background: #8bc34a linear-gradient(to right, #429321, #b4ec51);
}

.menu-two {
    display: flex;
    flex-direction: row;
}

.menu-two .content-two {
    margin-left: 79px;
}

.menu-two .content-two .text-one {
    margin: 82px 0px 36px 62px;
    font: 48px Roboto;
}

.menu-two .content-two .text-two {
    margin: -25px 0px 13px 67px;
    font: 14px Roboto;
}

.menu-two .content-two .text-three {
    font: 13px Roboto;
    margin: 0px 0px 30px 67px;
    line-height: 1.5;
}

.start-now-menu-two {
    color: white;
    border: solid;
    border-color: #8bc34a;
    box-shadow: 2px 3px 5px #D8D8D8;
    width: 107px;
    height: 29px;
    font: 15px Roboto;
    border-radius: 30px;
    padding: 10px 0px 0px 30px;
    margin-left: 67px;
    background: #8bc34a linear-gradient(to right, #429321, #b4ec51);
}

.menu-two .interface-two {
    background: url("./images/interface-two.png") no-repeat;
    height: 355px;
    width: 555px;
    margin: 80px 0px 80px 40px;
}

.banner {
    background-image: linear-gradient(to right, #429321, #b4ec51);
    height: 300px;
    display: flex;
    flex-direction: row;
}

.list-of-banner-one {
    height: 135px;
    width: 111px;
    margin: 63px 0px 0px 100px;
}

.list-of-banner-two {
    height: 135px;
    width: 111px;
    margin: 63px 0px 0px 143px;
}

.list-of-banner-three {
    height: 135px;
    width: 111px;
    margin: 63px 0px 0px 143px;
}

.list-of-banner-four {
    height: 135px;
    width: 111px;
    margin: 63px 0px 0px 143px;
}

.list-of-banner-five {
    height: 135px;
    width: 111px;
    margin: 63px 0px 0px 143px;
}

.list-one {
    height: 107px;
    width: 107px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.list-two {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: -26px 0px 0px 32px;
    background-color: #7cb342;
}

.list-two span {
    color: white;
    padding-left: 15px;
    font: 20px roboto;
}

.banner p {
    color: white;
    margin-top: 7px;
    text-align: center;
    font: 16px roboto;
}

.list-question {
    margin: 40px 0px 0px 45px;
}

.menu-three {
    display: flex;
    flex-direction: row;
}

.menu-three .interface-three {
    background: url("./images/interface-three.png") no-repeat;
    height: 388px;
    width: 555px;
    margin: 90px 0px 44px -56px;
}

.menu-three .content-three .text-one {
    margin: 92px 0px 36px 140px;
    font: 48px Roboto;
}

.menu-three .content-three .text-two {
    margin: -20px 0px 13px 140px;
    font: 14px Roboto;
}

.menu-three .content-three .text-three {
    width: 650px;
    height: 30px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font: 13px Roboto;
    padding: 20px 0px 0px 145px;
}

.menu-three .content-three .text-four {
    width: 650px;
    height: 30px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font: 13px Roboto;
    padding: 20px 0px 0px 145px;
}

.menu-three .content-three .text-five {
    width: 650px;
    height: 30px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font: 13px Roboto;
    padding: 20px 0px 0px 145px;
}

.start-now-menu-three {
    color: white;
    border: solid;
    border-color: #8bc34a;
    box-shadow: 2px 3px 5px #D8D8D8;
    width: 107px;
    height: 29px;
    font: 15px Roboto;
    border-radius: 30px;
    padding: 10px 0px 0px 30px;
    margin: 145px;
    margin: 24px 0px 0px 145px;
    background: #8bc34a linear-gradient(to right, #429321, #b4ec51);
}

.question-option {
    margin-right: 17px;
    color: #8bc34a;
}

.menu-four {
    display: flex;
    flex-direction: row;
}

.menu-four .interface-four {
    background: url("./images/interface-two.png") no-repeat;
    height: 371px;
    width: 481px;
    padding-left: 560px;
    margin: 60px 0px 44px 100px;
}

.menu-four .content-four {
    margin: 48px 0px 0px 30px;
}

.menu-four .content-four .text-one {
    margin: 16px 0px 16px 0px;
    font: 40px Roboto;
}

.menu-four .content-four .text-two {
    font: 14px Roboto;
    margin: 0px 0px 20px 5px;
}

.menu-four .content-four .text-three {
    width: 650px;
    height: 30px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font: 13px Roboto;
    padding-top: 10px;
}

.menu-four .content-four .text-four {
    width: 650px;
    height: 30px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font: 13px Roboto;
    padding-top: 10px;
}

.menu-four .content-four .text-five {
    width: 650px;
    height: 30px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font: 13px Roboto;
    padding-top: 10px;
}

.start-now-menu-four {
    color: white;
    border: solid;
    border-color: #8bc34a;
    box-shadow: 2px 3px 5px #D8D8D8;
    width: 107px;
    height: 29px;
    font: 15px Roboto;
    border-radius: 30px;
    padding: 10px 0px 0px 30px;
    margin: 24px 0px 0px 12px;
    background: #8bc34a linear-gradient(to right, #429321, #b4ec51);
}

.menu-five {
    background-image: url("./images/interface-four.png");
    height: 465px;
}

.menu-five .content-top {
    padding: 40px 0px 0px 567px;
    word-spacing: 5px;
    font: 40px Roboto;
    color: white;
}

.menu-five .background-between {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.menu-five .background-between .avartar-one {
    background: url("./images/image-in-interface.png") no-repeat;
    height: 80px;
    width: 80px;
    margin-left: 80px;
}

.menu-five .background-between .avartar-two {
    background: url("./images/image-in-interface.png") no-repeat;
    height: 80px;
    width: 80px;
    margin-left: 80px;
}

.menu-five .background-between .avartar-three {
    background: url("./images/image-in-interface.png") no-repeat;
    height: 80px;
    width: 80px;
    margin-left: 80px;
}

.menu-five .background-between .avartar-four {
    background: url("./images/image-in-interface.png") no-repeat;
    height: 90px;
    width: 90px;
    margin-left: 80px;
    background-size: cover;
}

.menu-five .background-between .avartar-five {
    background: url("./images/image-in-interface.png") no-repeat;
    height: 80px;
    width: 80px;
    margin-left: 80px;
}

.menu-five .background-between .avartar-six {
    background: url("./images/image-in-interface.png") no-repeat;
    height: 80px;
    width: 80px;
    margin-left: 80px;
}

.menu-five .background-between .avartar-seven {
    background: url("./images/image-in-interface.png") no-repeat;
    height: 80px;
    width: 80px;
    margin-left: 80px;
}

.menu-five .background-between .avartar-eight {
    background: url("./images/image-in-interface.png") no-repeat;
    height: 80px;
    width: 80px;
    margin-left: 80px;
}

.menu-five .text-avartar {
    display: flex;
    flex-direction: row;
    font: 14px Roboto;
    color: white;
    opacity: 0.7;
}

.menu-five .text-avartar .text-avartar-first {
    margin-left: 90px;
}

.menu-five .text-avartar .text-avartar-two {
    margin-left: 100px;
}

.menu-five .text-avartar .text-avartar-three {
    margin-left: 105px;
}

.menu-five .text-avartar .text-avartar-four {
    margin-left: 105px;
}

.menu-five .text-avartar .text-avartar-five {
    margin-left: 105px;
}

.menu-five .text-avartar .text-avartar-six {
    margin-left: 105px;
}

.menu-five .text-avartar .text-avartar-seven {
    margin-left: 105px;
}

.menu-five .text-avartar .text-avartar-eight {
    margin-left: 105px;
}

.menu-five .text-second p {
    color: white;
    opacity: 0.7;
    font: 15px Roboto;
    line-height: 1.5;
    margin: 0px 0px 0px 356px;
}

.menu-five .question-our-customers-first {
    margin-left: 300px;
    color: white;
    opacity: 0.7;
    font-size: 45px;
}

.menu-five .question-our-customers-second {
    margin: -45px 0px 0px 993px;
    color: white;
    opacity: 0.7;
    font-size: 45px;
}

.menu-six {
    display: flex;
    flex-direction: row;
}

.menu-six .text {
    margin-left: 79px;
}

.menu-six .text .text-one {
    margin: 82px 0px 36px 62px;
    font: 48px Roboto;
}

.menu-six .text .text-two {
    margin: -25px 0px 13px 67px;
    font: 14px Roboto;
}

.menu-six .text .text-three {
    font: 13px Roboto;
    margin: 0px 0px 30px 67px;
    line-height: 1.5;
}

.start-now-menu-six {
    color: white;
    border: solid;
    border-color: #8bc34a;
    box-shadow: 2px 3px 5px #D8D8D8;
    width: 107px;
    height: 29px;
    font: 15px Roboto;
    border-radius: 30px;
    padding: 10px 0px 0px 30px;
    margin-left: 67px;
    background: #8bc34a linear-gradient(to right, #429321, #b4ec51);
}

.menu-six .interface-six {
    background: url("./images/interface-two.png") no-repeat;
    height: 355px;
    width: 555px;
    margin: 80px 0px 80px 40px;
}

.footer {
    display: flex;
    flex-direction: row;
    background-color: #283238;
    height: 180px;
}

.footer .content-footer-one {
    background: url("./images/logo-hapoErp-one.png") no-repeat;
    height: 25px;
    width: 95px;
    margin: 52px 0px 0px 145px;
}

.footer .content-footer-one p {
    font: 14px Roboto;
    color: white;
    margin-top: 70px;
}

.footer .content-footer-two {
    margin: 28px 0px 0px 70px;
    color: #8bc34a;
    font: 17px Roboto;
}

.footer .content-footer-two p {
    font: 14px Roboto;
    color: white;
    margin-top: 36px;
}

.footer .content-footer-three p {
    font: 14px Roboto;
    color: white;
    margin-top: 36px;
}

.footer .content-footer-three {
    margin: 28px 0px 0px 70px;
    color: #8bc34a;
    font: 17px Roboto;
}

.footer .content-footer-four p {
    font: 14px Roboto;
    color: white;
    margin-top: 36px;
}

.footer .content-footer-four {
    margin: 28px 0px 0px 70px;
    color: #8bc34a;
    font: 17px Roboto;
}

.footer .content-footer-five p {
    font: 14px Roboto;
    color: white;
    margin-top: 36px;
}

.footer .content-footer-five {
    margin: 28px 0px 0px 70px;
    color: #8bc34a;
    font: 17px Roboto;
}

.icon-footer {
    display: flex;
    flex-direction: row;
    margin: 105px 0px 0px 95px;
}

.question-footer {
    letter-spacing: 40px;
}